<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SymfonyTemplateManager</title>
    {% block css %}
        {% include "@TemplateManager/utils/common/css.html.twig" %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    {% if page_title is defined %}
                        <a href="{{ path('tm_index') }}"><i class="fa fa-home"></i></a>&nbsp;
                    {% endif %}
                    Template Manager{% if page_title is defined %}:&nbsp;{{ page_title }}{% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <a href="{{ path("tm_templates_list") }}" class="list-group-item">Templates List</a>
                    <a href="{{ path("tm_type") }}" class="list-group-item">Templates Type</a>
                    <a href="{{ path("tm_components") }}" class="list-group-item">Template Components</a>
                </ul>
            </div>
            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block js %}
    {% include "@TemplateManager/utils/common/js.html.twig" %}
{% endblock %}
</body>
</html>