{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

<div class="row animated fadeIn">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type edit</h3>
            </div>
            {{ form_start(edit_form, {'attr': {'action': path('tm_type_edit', {'id': type.id })}}) }}
            <div class="panel-body">
                {{ form_widget(edit_form) }}
            </div>
            <div class="panel-footer text-center">
                <ul class="list-inline">
                    <li>
                        <div class="btn-group">
                            <button type="button" id="close" class="btn btn-default btn-sm">
                                <i class="fa fa-times"></i> Close
                            </button>
                            <button class="btn btn-success btn-sm" type="submit">
                                <i class="fa fa-pencil"></i> Save
                            </button>
                            {{ form_end(edit_form) }}
                        </div>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button class="btn btn-danger btn-sm" type="submit">
                            <i class="fa fa-trash-o"></i> Delete
                        </button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
