{% extends '@TemplateManager/utils/common/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Types list</h1>
            </div>
            <div class="text-right">
                <a href="{{ path('tm_type_new') }}" class="btn btn-primary btn-sm">
                    Create a new type <i class="fa fa-plus-circle"></i>
                </a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th class="text-center">Active</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for type in types %}
                    <tr>
                        <td>
                            <a href="{{ path('tm_type_show', { 'id': type.id }) }}" data-action="show">{{ type.id }}</a>
                        </td>
                        <td>{{ type.name }}</td>
                        <td class="text-center">
                            <a href="#" data-id="{{ type.id }}">
                                {% if type.active %}
                                    <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-xs" href="{{ path('tm_type_show', { 'id': type.id }) }}">
                                    Show
                                </a>
                                <a class="btn btn-default btn-xs" href="{{ path('tm_type_edit', { 'id': type.id }) }}">
                                    Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" id="wrapper"></div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var type = {};
        type.wrapper = {};

        type.wrapper.el = $('#wrapper');
        type.wrapper.clear = function() {
            type.wrapper.el
                .find('.row')
                .toggleClass('fadeOut')
                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    type.wrapper.el.html('');
                });
        };

        type.loading = function () {
            type.wrapper.el.html('<div class="animated fadeIn text-center">' +
                '<i class="fa fa-circle-o-notch fa-3x fa-spin"></i>' +
                '<p>Loading ..</p>' +
                '</div>'
            );
        };

        $(document)
            .on('click', 'a', function (e) {
                e.preventDefault();
                type.loading();
                $.get($(this).attr('href'), function (data) {
                    type.wrapper.el.html(data);
                });
            })
            .on('click', '#close', function () {
                type.wrapper.clear();
            })
            .on('submit', 'form', function(e) {
               e.preventDefault();
               $.post(
                   $(this).attr('action'),
                   $(this).serialize(),
                   function (data) {
                       type.wrapper.el.html(data);
                   }
               );
            });
    </script>
{% endblock %}
