<div class="row animated fadeIn">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><b>Id</b> {{ type.id }}</li>
                <li class="list-group-item"><b>Name</b> {{ type.name }}</li>
                <li class="list-group-item">
                    <b>Active</b> {% if type.active %}Yes{% else %}No{% endif %}
                </li>
                <li class="list-group-item">
                    <b>Created</b> {% if type.created %}{{ type.created|date('Y-m-d H:i:s') }}{% endif %}
                </li>
                <li class="list-group-item">
                    <b>Modified</b> {% if type.modified %}{{ type.modified|date('Y-m-d H:i:s') }}{% endif %}
                </li>
            </ul>
            <div class="panel-footer text-center">
                <ul class="list-inline">
                    <li>
                        <div class="btn-group">
                            <button type="button" id="close" class="btn btn-default btn-sm">
                                <i class="fa fa-times"></i> Close
                            </button>
                            <a href="{{ path('tm_type_edit', { 'id': type.id }) }}" class="btn btn-default btn-sm">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </div>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button class="btn btn-danger btn-sm" type="submit">
                            <i class="fa fa-trash-o"></i> Delete
                        </button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

