{% extends "@TemplateManager/utils/common/base.html.twig" %}

{% block content %}
    <div class="row" id="vueController">
        <div class="col-sm-8">
            <div class="row" id="template_html">
                {{ include(template_from_string(template.base)) }}
            </div>
        </div>
        <div class="col-sm-4">
            <form action="{{ path('tm_templates_save', {'id': template.id}) }}" id="controls" method="post">
                {{ discoverControls(template) }}
                <input type="hidden" name="html" id="tm_template_html">
                <button type="submit" class="btn btn-primary btn-block">Save Template</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ generateScriptHandlers('#vueController', template) }}
    <script>
        $(document)
            .on('submit', '#controls', function (e) {
                document.getElementById('tm_template_html').value = $('#template_html').html();
            });
    </script>
{% endblock %}