{% extends "@TemplateManager/utils/common/base.html.twig" %}

{% block content %}
    <div class="row" id="vueController">
        <div class="col-sm-8">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#template_html" data-toggle="tab" aria-expanded="true">Preview</a></li>
                {% if template.id %}
                    <li><a href="{{ path('tm_templates_settings', {'id':template.id}) }}">Settings</a></li>
                {% endif %}
            </ul>
            <div id="myTabContent" class="tab-content" style="margin-top: 10px;">
                <div class="tab-pane fade active in" id="template_html">
                    {{ include(template_from_string(template.base)) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <form action="{{ path('tm_templates_save', {'id': template.id}) }}" id="controls" method="post">
                {{ discoverControls(template) }}
                <button type="submit" class="btn btn-primary btn-block">Save Template</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ generateScriptHandlers('vueController', template) }}
{% endblock %}