{% extends "@TemplateManager/utils/common/base.html.twig" %}

{% block content %}
    <div class="container" id="vueController">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    {{ include(template_from_string(template.content)) }}
                </div>
            </div>
            <div class="col-sm-4">
                {{ discoverControls(template.content) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ generateScriptHandlers('#vueController', template.content) }}
{% endblock %}
{#<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">#}
    {#<!-- Thumbnail Left, Text Right : BEGIN -->#}
    {#<tr>#}
        {#<td bgcolor="#ffffff" dir="ltr" align="center" valign="top" width="100%" style="padding: 10px;">#}
            {#<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">#}
                {#<tr>#}
                    {#<!-- Column : BEGIN -->#}
                    {#<td width="33.33%" class="stack-column-center">#}
                        {#<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">#}
                            {#<tr>#}
                                {#<td dir="ltr" valign="top" style="padding: 0 10px;">#}
                                    {#{{ bindTarget('img', 'image_left', {'width': '170', 'height': '170', 'border': '0', 'class': 'center-on-narrow', 'style': 'height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;'}) }}#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</td>#}
                    {#<!-- Column : END -->#}
                    {#<!-- Column : BEGIN -->#}
                    {#<td width="66.66%" class="stack-column-center">#}
                        {#<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">#}
                            {#<tr>#}
                                {#<td dir="ltr" valign="top" style="font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555; padding: 10px; text-align: left;" class="center-on-narrow">#}
                                    {#<strong style="color:#111111;">Class aptent taciti sociosqu</strong>#}
                                    {#<br><br>#}
                                    {#Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.#}
                                    {#<br><br>#}
                                    {#<!-- Button : Begin -->#}
                                    {#<table role="presentation" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow" style="float:left;">#}
                                        {#<tr>#}
                                            {#<td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">#}
                                                {#<a href="http://www.google.com" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">#}
                                                    {#<span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;A Button&nbsp;&nbsp;&nbsp;&nbsp;</span>#}
                                                {#</a>#}
                                            {#</td>#}
                                        {#</tr>#}
                                    {#</table>#}
                                    {#<!-- Button : END -->#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</td>#}
                    {#<!-- Column : END -->#}
                {#</tr>#}
            {#</table>#}
        {#</td>#}
    {#</tr>#}
    {#<!-- Thumbnail Left, Text Right : END -->#}
{#</table>#}